body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FAFAFA;
    color: #36454F,;
}
.card {
    border: none !important;
}
.story-card {
    padding: 2rem ;
}
 /* story card  */
 .first-card:hover {
    opacity: 0.8;
 }
.card-title {
    color: #36454F;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body {
    padding: 0 !important;
    margin: 0.5rem;
}
.card-text {
    font-size: 1.5rem;
}
.story-cont {
    line-height: 2rem;
}
.story-link {
    text-decoration: none;
}
.btns{
    display: flex;
}
.btn-unfold {
    background-color: #008080 !important;
    color: #fff !important;
}
.tags-genre {
    font-weight: 500;
    line-height: 1rem;
}
.originalAuthor {
    text-decoration: none;
    color: black;
}

/* footer */

.f-info-links a {
    text-decoration: none;
    color: #fff;
}
.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links , .f-info-socials,.f-info-brand  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info {
    background-color:#1c3c48 ;
    height: 8rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer {
    margin-top: auto;
}
.genres {
  display: flex;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  flex-wrap: wrap;
}

/* Mobile → horizontal scroll */
@media (max-width: 576px) {
  .genres {
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
  }

  .genres a {
    flex-shrink: 0;
  }
}
